<h4>Personajes</h4>
<ul class="list-group">
    <li *ngFor="let pers of personajesList; even as isEven; index as i" 
        class="list-group-item d-flex justify-content-between align-items-center" 
        [ngClass]="{'list-group-item-light': isEven}">
        <div>
            <span class="text-primary">{{i + 1}}. </span>
            <span>{{pers.nombre}} - </span>
            <strong>Poder: </strong>
            <span>{{pers.poder}}</span>
        </div>
        <button (click)="onDeletePersonaje(pers.id);" class="btn btn-danger">x</button>
    </li>
</ul>